* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
    font-weight: 700;
    font-style: normal;
}

body {
    background: url('assets/bg-image.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    overflow: hidden;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
}

.left-side img {
    width: 70%;
    max-width: 350px;
    border-radius: 10px;
}

.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    width: 80%;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    outline: auto;

}

button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #f40af4f4;
    color: #fff;
    font-size: 15px;
    transition: 0.3s;
}

.btn{
    display: flex;
    justify-content: space-evenly;
}

button:hover {
    background: #b132b1c9;
}